.bg-img{
	background-image: url(../img/bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.bg-glasses{
	background-color: hsla(0, 0%, 100%, 0.3) !important;
	backdrop-filter: blur(10px);
	border-radius: 10px;
}